{% extends 'base.html' %}
{% block content %}

    <img src="static/images/list.png" alt="Description of the image">
    <h1>Welcome to an Online Grocery List</h1>

    
    <a href="http://127.0.0.1:5000/login">Login</a>
    
    <div class="box">
        <div class="content-box">
            <h5>Want to share your grocery list with family members, roommates, or friends? This website enables seamless collaboration, allowing multiple users to contribute to and edit the same list in real-time.</h5>
        </div>
    </div>
{% endblock %}
